/*No tocar este codigo*/
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*Escribe aqui tu codigo */
body{
    background-color: #F2F2F2;
    font-size: 13px;
}
.row{
    padding: 0px;
    margin: 0px;
}
.black-bg{
    background-color: #424A5D;
    color: white;
    border-bottom: 1px solid black;
    font-size: 15px;

}
#sidebar{
        background-color: #424A5D;
        float: left;
       width: 15%;
       height: 750px;

}
.sidebar-toggle-box{
    position: relative;
    padding: 13px;

}
.logo{

    position: absolute;
    top: 13px;
    margin-left: 38px;
    color: white;
}
.top-menu{
    font-size: 13px;
    background-color: #9C4C9D;
   position: absolute;
   top: 0px;
   right: 0px;
  margin: 4px 10px;
  border-radius: 3px;
}

.nav > li > a {
    position: relative;
    display: block;
   padding: 3px 17px;

}
.sidebar-menu{
    padding: 10px;
    color: white;
}
.sub-menu{
    padding: 10px;
}
ul li {
    list-style: none;



}

ul {
    
    margin-top: 0;
    margin-bottom: 10px;
}
ul li a{
    color: white;
   }
.sidebar-menu li:hover{
    background-color: #9C4C9D;

}
.sidebar-menu li a :hover{
    color: white;
    text-decoration: none;
    
}
#main-content{
    margin-left: 15%;

}
.showback{
    margin: 6% 1% -15px 1%;
    padding: 9px 8px;
background-color: #FFFFFF;
box-shadow: 0px 4px 4px 0px #BFC5CD;

}
.btn {
    font-size: 12px;
    padding: 3px 5px;
}
h4 {
    color:#989898;
}
.btn-lg{
padding: 7px 13px;
}