/*No tocar este codigo*/
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*Escribe aqui tu codigo */
.black-bg{
    background-color: #424A5D;
    color: white;
    border-bottom: 1px solid black;

}
#sidebar{
        background-color: #424A5D;
        float: left;
        width: 200px;

}
.sidebar-toggle-box{
    padding: 5px;
}
.logo{
    position: absolute;
    top: 5px;
    margin-left: 23px;
    color: white;
}
.top-menu{
    background-color: #9C4C9D;
}
.sidebar-menu{

    color: white;
}
.sub-menu{
    padding: 10px;
}
ul li {
    list-style: none;



}
ul {
    margin-left: -50px;
    margin-top: 0;
    margin-bottom: 10px;
}
ul li a{
    color: white;
    padding:10px 30px;
}
.sub-menu a:hover{
    background-color: #9C4C9D;
}
